@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* || VARIABLES */
:root {
    --COL: #1e1e1e;
}

/* || GENERAL STYLES */
hr {
    border: 1px solid var(--COL);
    border-radius: .125rem;
    margin-right: 25%;
}

body {
    border: 3px solid var(--COL);
    border-radius: .125rem;
    color: var(--COL);
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding: 3rem;
}

h1, h2, h3 {
    margin-bottom: 0;
}

h2 {
    color: #2f9e44;
    font-size: 1rem;
}

h3 {
    color: #1971c2;
    font-size: 1.125rem;
}

ul {
    list-style-position: inside;
    padding: 0;
}
